* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-nunito), sans-serif;
  font-size: 1rem;
}
a {
  text-decoration: none;
}
.main {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}
.ant-modal-content {
  padding: 0 !important;
}
.checkout__page {
  background-color: #f4f1ee;
  min-height: 100vh;
}
