.button {
  border-radius: .625rem !important;
  transition: all 0.3s ease-in;
  padding: 0rem !important;
  width: 1.875rem;
  height: 1.875rem;
  &:hover {
    background-color: var(--primary-color) !important;
    color: var(--secondary-text-color);
  }
  &:disabled {
    background-color: inherit !important;
  }
}
