.button {
  border-radius: 10px !important;
  transition: all 0.3s ease-in;
  padding: 0px !important;
  width: 30px;
  height: 30px;
  &:hover {
    background-color: var(--primary-color) !important;
    color: var(--secondary-text-color);
  }
}
.button:disabled {
  border: 1px solid var(--desc-color);
  color: var(--desc-color);
  cursor: default;
  &:hover {
    background-color: inherit !important;
    color: var(--desc-color);
  }
}
