.wrapper {
  border-radius: 1.875rem;
  background-color: #ffffff;
}

.topInfo {
  border-bottom: .0625rem solid #f6f6f6;
  padding-top: 1.875rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  padding-bottom: 1.25rem;
}
.bottomInfo {
  padding: 1.5625rem;
}