.wrapper {
  display: flex;
  flex: 1;
  width: 100%;
}
.info {
  background-color: #f4f1ee;
  width: 30.625rem;
  padding: 2.5rem;
  border-radius: .625rem;

}
.imageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.button {
  width: 100%;
}
.desc {
  color: var(--desc-color);
}
.ingredientsWrapper {
  display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: .625rem;
  height: 18.75rem;
  overflow: auto;
  &::-webkit-scrollbar {
    width: .3125rem;
  }
  &::-webkit-scrollbar-track {
    background: #f0f0f0; 
    border-radius: .25rem;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: .25rem;
  }
}