:root {
  --primary-color: #fe5f00;

  //   hover
  --hover-color: #ff6f1c;
  --secondary-hover-color: #ffefe6;

  //   text
  --text-color: #000000;
  --secondary-text-color: #ffffff;
  --desc-color: #b1b1b1;
  // bg
  --card-bg-color: #fff7ee;
  --bg-color: #fafafa;
}
