.sort {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  background-color: var(--bg-color);
  border-radius: 0.9375rem;
  padding: 0.875rem;
}
.primaryColor {
  color: var(--primary-color);
}
