

.imageWrapper {
    background-color: #FFF7EE;
    border-radius: 15px;
    margin-bottom: 15px;
}
.desc {
    color: #B1B1B1;
    font-size: 14px;
}

.price {
    color: #000000;
    font-size: 20px;
    b {
        font-size: 20px;
    }
}
