.header {
  border-bottom: .0625rem solid #ededed;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 2.5rem;
}

.name {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
}
.description {
  font-size: .875rem;
  color: var(--desc-color);
}
