.imageWrapper {
  background-color: var(--card-bg-color);
  border-radius: .9375rem;
  margin-bottom: .9375rem;
}
.desc {
  color: var(--desc-color);
  font-size: .875rem;
}

.price {
  color: var(--text-color);
  font-size: 1.25rem;
  b {
    font-size: 1.25rem;
  }
}
